/*---------------------------------*\
               $WIDGET
\*---------------------------------*/

.widget {

    select {
        max-width: 100%;
    }
}

.widget--main {
    @include rem(margin-bottom, $_u);
}

.widget--sidebar__title {
    @extend .heading;
    @extend .heading--sidebar;
}


.widget--footer {
    @include rem(margin-bottom, $_2u);
}

.widget--footer__title {
    @extend .heading;
    @extend .heading--footer;

    em {
        color: $accent;
        font-style: normal;
    }
}





/*-----------------------------------*\
               TAG CLOUD
\*-----------------------------------*/

.widget_tag_cloud {

    .wp-tag-cloud {
        @extend .btn-list;
    }

    a {
        @extend .btn;
        @extend .btn--negative;
        @include rem(font-size, 12px !important);
    }

    &.widget--main {

        a {
            background-color: #eee;
            color: #555;
        }
    }
}





/*----------------------------------------*\
    $SEARCH
\*----------------------------------------*/
.widget_search{
    .form-search{
        width: 100%;
        @include rem(height, 36px);
    }

    .search-query{
 
    }
}





/*-----------------------------------------*\
               WIDGET NAV MENU
\*-----------------------------------------*/

// rename and @extend this

/*ul*/.menu--list {
    margin: 0;
    list-style: none;
    @include rem(margin-top, -$_u4);

    > li {
        
        a {
            display: block;
            @include rem(padding, $_u4 0);
        }

        + li {
            border-top: 1px solid #333131;
            margin-top: -1px;


            .site__footer & {
                border-top-color: #262525;
            }
        }
    }

    &.two-cols {

        > li + li {
            border-top: 0;
            margin-top: 0;
        }

        > li + li + li {
            border-top: 1px solid #ddd;
            margin-top: -1px;   

            .site__footer & {
                border-top-color: #262525;
            }
        }
    }
}

.widget_nav_menu, .widget_categories, .widget_meta {
    
    ul {
        @extend .menu--list;
        @extend .multi-list;
        @extend .two-cols;

        ul {
            display: none;
        }
    }
}

.widget_archive, .widget_pages, .widget_recent_comments, .widget_rss, .widget_recent_posts, .widget_recent_entries {

    ul {
        @extend .menu--list;

        ul {
            display: none;
        }
    }   
}

.widget--sidebar__title .rsswidget {

    img {
        display: none;
    }
}

.widget_rss .widget--footer__title .hN {
    color: $accent;
}

.widget {

    select {
        width: 100%;
        @include rem(padding-left, $_u4);
        // ??? @include rem(height, $_u + $_u2);
    }
}





.widget_image img.alignnone{
    margin-top: 0;
    margin-bottom: 0;
}

.widget_wpgrade_posts_slider_widget{
    .article--slider{
        margin-bottom: 0;
    }

    .rsArrow{
        top: 30%;

        .rsArrowIcn{
            height: 28px;
            width: 28px;
        }
    }
}

/**
 * Maybe it's good, maybe it's not...
 */

.widget_categories, .widget_recent_comments, .widget_archive{
    ul > li a{
        display: inline-block !important;
    }
}

.recentcomments{
    @include rem(padding, $_u2 0);
}

@include media-query(palm) {
    .widget_recent_entries, .widget_recent_comments, .widget_rss, .widget_categories
    { 
        a{
            text-decoration: underline;
        }
    }
}

.widget_rss li > cite:before{
    content: '-';
    margin-right: 5px;
}

.rss-date{
    font-style: italic;
}

.widget--footer.widget_text .wp-caption-text {
    background-color: $dark;
    color:$light;
}

.pixcode--tabs__nav{
	letter-spacing: 0;
	word-spacing: 0;
	white-space: normal;
}

