/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
@if $english-quotes == true{
    $open-quote:    \201C;
    $close-quote:   \201D;
}
q{
    quotes:"\2018" "\2019" "#{$open-quote}" "#{$close-quote}";

    &:before{
        content:"\2018";
        content:open-quote;
    }
    &:after{
        content:"\2019";
        content:close-quote;
    }

    q:before{
        content:"\201C";
        content:open-quote;
    }
    q:after{
        content:"\201D";
        content:close-quote;
    }
}

blockquote{
    quotes:"#{$open-quote}" "#{$close-quote}";

    p:before{
        content:"#{$open-quote}";
        content:open-quote;
    }
    p:after{
        content:"";
        content:no-close-quote;
    }
    p:last-of-type:after{
        content:"#{$close-quote}";
        content:close-quote;
    }

    q:before{
        content:"\2018";
        content:open-quote;
    }
    q:after{
        content:"\2019";
        content:close-quote;
    }
}


blockquote{
    text-indent:-0.41em;

    p:last-of-type{
        margin-bottom:0;
    }
}

.source{
    display:block;
    text-indent:0;

    &:before{
        content:"\2014";
    }
}
