@charset "UTF-8";
//@import "compass";

@import "vars",
	"resets",
	"tools",
	"typography",
	"layout",
	"fields",
	"icons";

.redux-container {
	@extend %font--body;
	position: relative;
	background: $accent;
	background-image: linear-gradient(135deg, $accent2, $accent);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: none;

	.form-table {

		tr {
			margin-bottom: 3em;
			position: relative;

            &:last-child {
                margin-bottom: 0;
            }

			&[style="border-bottom:0;"] {
				margin-bottom: 0;
			}
        }

        ul.redux-image-select {
            margin: 0.5em 0 !important;
        }
    }

    .hide {
        display: none !important;
    }

    .redux-field-info, .fold {
        opacity: 1 !important;
    }

	#redux-intro-text {
		position: fixed;
		right: 0;
		z-index: 10;

		width: 20%;
		padding: 3em;
		padding-top: 12.5em;
		margin: 0;
		overflow: hidden;

		border: 0;

		color: white;
		background: none;
		box-shadow: none;

		&, > *, > p {
			@extend %font--body;
			color: white;
		}

        > h4, > p {
            display: none;
        }

        > .description {
            display: block;
            font-style: normal;
        }
	}

	// LAYOUT

	.redux-main + .clear {
		display: none;
	}

	#redux-footer-sticky {
		width: 22%;
		overflow: hidden;
		background: $accent;

		display: none;
	}

	#redux-footer {
		width: auto !important;
	}

	.clear{
		display: none;
	}

	.redux-sidebar .redux-group-menu li.active a{
		width: auto;
	}

	.expand_options{
		display: none;
	}

	#redux-header{
		display: none;
	}

	#info_bar {
		padding: 0;
		background: transparent;
		border: 0;
	}

	.button, .button-primary, .button-secondary, .button.remove-image {
        @extend .fs14;
		height: auto;
		border: 1px solid $border;
		color: $border;
		background: white;
		margin: 0;
		box-shadow: none;
		border-radius: 0.5em;
		padding: 0.5em 1.5em;
		margin-right: 1.5em;

		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			background: white;
			color: $light;
			border-color: $light;
			box-shadow: none;
		}

        span:before {
            color: $border;
        }
	}

	.button, .button-primary {
		border: 1px solid #808080;
		background: #808080;
		color: white;

		&:hover {
			border-color: $accent;
			background: $accent;
			color: white;
		}

        span:before {
            color: white;
        }
	}

	.button-demo {
		border-color: $accent;
		background: $accent;
		font-size: 12px;
		border-radius: 20px;
		padding: 12px 24px;

		&:hover {
			border-color: $dark;
			background: $dark;
		}
	}

	.redux-main {
		position: relative;

		// how 'bout dat biatch? // lol, so hardcore // much hate // wow very comments
		padding: 3.5em 5vw 6vw;
		overflow: hidden;

		border: solid white;
		border: 0;

		background: white;

		.description {
			// @extend .fs14;
			font-style: normal;
		}

		.redux-group-tab .form-table .text_sortable {

			> li {
				display: block;
				clear: both;
                position: relative;
                padding-left: 4em;
                margin-left: -4em;

                .drag {
                    display: inline-block;
                    position: absolute;
                    top: 0.23em;
                    left: 0;
                    width: 1em;
                    height: 1em;
                    margin-left: 0;

                    font-size: 2em;
                    line-height: 1;
                    font-family: "dashicons";
                    text-decoration: inherit;
                    font-weight: normal;
                    font-style: normal;
                    vertical-align: top;
                    text-align: center;

                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    cursor: crosshair;

                    &:before {
                        content: "\f214";
                        color: #eee;
                    }

                    &:hover:before {
                        color: $gray;
                    }
                }

                &:after {
                    content: " ";
                    display: table;
                    clear: both;
                }

                &.head {
                    margin: 1em 0;
                    margin-bottom: 1em !important;
                    padding-left: 0;

                    span {
                        margin-left: 1.2em;
                    }

                    .spacer {
                        width: 29em !important;
                    }
                }

                label {
                    margin-top: 0.8em !important
                }

                label, input {
                    float: left;
                }

                input[type="checkbox"] {
                    margin-left: 2em;
                }
			}
		}
		
		i#big-icon{
			position: absolute;
			right: 70px;
			top: 24px;

			font-size: rem(188px);
			color: #d2d2d2;

			opacity: .1;
		}
		
	} // .redux-main

	.redux-field-container {
		@extend .mbp0;
	}

	// Sidebar menu

	.redux-sidebar {

		.redux-group-menu {

			li {
				position: relative;

				padding-left: 22%;
				margin-bottom: 10px !important;
				display: block;

				&:after{
					content: "";
					position: absolute;
					left: 22%;

					right: -100%;
					bottom: 0;

					display: block;
					height: 1px;

					background-color: white;
					background-blend-mode: overlay;
					opacity: 0.5;
				}


				a {
					padding: 1.25em 0;
					// make room for the "active" button indicator
					padding-right: 1.25em;

					border: 0;

					font-family: "Josefin Sans", serif;
					font-weight: 400;
					text-transform: uppercase;
					text-align: left;
				}

				&.active a {
					color: white;

					&:after{
						content: "";
						position: absolute;
						right: 7%;
						top: 50%;

						display: block;
						height: 0.75em;
						width: 0.75em;

						background: white;

						-webkit-transform: translateY(-50%);
						border-radius: 50%;
					}
				}

				&.divide {
					border: 0;
					padding: 1.5em 0;

					&:after{
						content: none;
					}
				}


				// help and support button
				&:last-child{
//					position: absolute;
//					bottom: 100px;
//					left: 0;
//					right: 0;

					margin-top: 72px;

					&:after{
						content: none;
					}
				}
			} // li
		}

		.redux-group-tab-link-a{
			position: static;

			span.group_title{
				padding: 0;
			}

			i{
				top: 50%;
				left: 5%;

				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}

	// hide 'n seek
	.redux-group-tab.has-customizer table,
	.redux-group-tab.has-customizer div.redux-field-customizer_info {
		display: none !important;
	}

	@import "switch";

	.redux_field_th {
		@extend .fs19;
		color: $gray;
//		margin-bottom: 0;

		span.description {
			color: $light;
            font-size: 0.8421em;
		}
	}

    .redux-normal, .redux-info-field, .redux-field-info, .field-desc, .redux-info-desc {
        @extend %font--body;
        font-size: 1em;
        color: $light !important;
    }

	.upload_button_div {
		@extend .fs14;
	}

	tr {
		:last-child {
			margin-bottom: 0;
		}
	}

	#redux_save{
		font-family: "Josefin Sans", serif;
		@extend .fs19;
        padding: 1.1em 1.5em 0.75em;
        margin-right: 0;
		letter-spacing: .150em;
		text-transform: uppercase;

		border: 2px solid white;
		background: transparent;
		border-radius: 5em;

        &:hover {
            background: white;
            color: $accent;
        }
	}

	#floating-title{
		position: fixed;
		right: 0;
		top: 0.3em;

		width: 20%;
		padding: 0.3em;

		font-family: "Josefin Sans", serif;
		font-weight: 100;
		font-size: 7.5em;
		line-height: 1;
		word-wrap: break-word;

		opacity: 0.2;
		background-blend-mode: overlay;
		color: white;
	}

	.redux-field-info {
		overflow: hidden;
	}

	.screenshot {
		display: block;
		width: 9.9em;
		height: 9.9em;
		border: 1px solid $border;
		border-collapse: separate;
        background-color: white;
        background-clip: content-box;
		background-image:
			-moz-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%),
			-moz-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%);
		background-image:
			-webkit-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%),
			-webkit-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%);
		-moz-background-size: 1em 1em;
		background-size: 1em 1em;
		-webkit-background-size: 1em 1em;
		background-position: 0 0, 0.5em 0.5em;

		box-shadow: white 0 0 0 0.5em inset;
		padding: 0.5em;
	}

	.row--image {
		position: relative;

		.screenshot {
            cursor: pointer;
            -webkit-transition: border-color .2s ease-in-out;
            -moz-transition: border-color .2s ease-in-out;
            -ms-transition: border-color .2s ease-in-out;
            -o-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;
            z-index: 10;

            img {
                pointer-events: none;
            }

            &:hover {
                border-color: $light;
            }

			&:before, &:after {
                content: "";
				position: absolute;
				top: 50%; left: 50%;
				background: $border;
				pointer-events: none;

                -webkit-transition: background-color .2s ease-in-out;
                -moz-transition: background-color .2s ease-in-out;
                -ms-transition: background-color .2s ease-in-out;
                -o-transition: background-color .2s ease-in-out;
                transition: background-color .2s ease-in-out;
                display: none;
			}

            &:hover {
                &:before, &:after {
                    background-color: $light;
                }
            }

			&:before {
				width: 2px;
				margin-left: -1px;
				height: 2em;
				margin-top: -1em;
			}

			&:after {
				width: 2em;
				margin-left: -1em;
				height: 2px;
				margin-top: -1px;
			}

			&.hide {
				display: block !important;
				background: none;

//				&:before, &:after {
//					display: block;
//				}

                &[style="display: none;"] {
                    background-image:
                        -moz-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%),
                        -moz-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%);
                    background-image:
                        -webkit-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%),
                        -webkit-linear-gradient(45deg, #ddd 25%, transparent 25%,transparent 75%, #ddd 75%, #ddd 100%);
                    -moz-background-size: 1em 1em;
                    background-size: 1em 1em;
                    -webkit-background-size: 1em 1em;
                    background-position: 0 0, 0.5em 0.5em;

                }
            }
        }

		> .screenshot {
			float: left;
			margin-right: 2em;
			margin-top: 0;
			position: relative;
            z-index: 9;

			&:empty {
				background: white;
			}

			&:before, &:after {
				display: block;
			}
		}

		.redux_field_th, td {
			margin-left: 10em;
		}

		&.image--small {

			.screenshot {
				width: 4.9em;
				height: 4.9em;
			}

			.redux_field_th, td {
				margin-left: 5.9em;
			}

            .redux-field, .redux_field_th, .description {
                padding-top: 0;
            }
		}

		td .screenshot {
			position: absolute;
			top: 0; left: 0;
			border-color: transparent;
			overflow: hidden;

			img {
				position: absolute;
				top: 50%; left: 50%;
				max-width: 100%;
				max-width: calc(100% - 0.5em);
				background: none;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
                z-index: 20;
			}
		}

		.redux_field_th {
			padding-right: 0;
		}

		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}

//	.redux-field {
//		@extend .fs14;
//	}

    .redux-container-editor {
        margin: 1em 0;
    }

	.ace-editor-area {
		border: 2px solid $border;

		&.ace_focus {
			border-color: $accent;
		}
	}

    .wp-editor-wrap {

        &, *, *:before, &:after {
            box-sizing: content-box;
        }
    }
    
    .wp-editor-area {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .wp-switch-editor {
        border: 2px solid $border;
        border-bottom: 0;
        margin: 5px 0 0 0;
        padding: 9px 16px;
        top: 2px;
        height: 19px;

        &:first-child {
            margin-left: -2px;
        }
    }

    .wp-editor-container {
        border: 2px solid $border;
        border-radius: 0;
        box-shadow: none;
        margin-top: -1px;

        .wp-editor-area {
            padding: 1em;
        }
    }

    .mce-statusbar {
        border-top: 1px solid $border;
    }

    .mce-path {
        padding: 0 8px 2px;
    }

    #info-wpGrade_import_demodata_button {
        margin-top: 1em;
    }

    .ace_cursor {
        border-left: 2px solid $dark;
    }

    .redux-hint-qtip {
        float: none !important;
        display: inline-block;
        margin-left: 0.5em;
        border: 2px solid $border;
        position: relative;
        top: 0.25em;
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        cursor: help;

        &:before {
            content: "i";
            position: absolute;
            top: 0; left: 40%;
            color: $border;
            font-size: 12px !important;

			pointer-events: none;
        }

        > i {
            display: none;
        }
    }

    .form-table {

        &:after {
            content: " ";
            display: table;
            clear: both;
        }

        tbody {
            margin-left: -2em;

             tr {
                 border-left: 2em solid transparent;
             }
        }
    }

} // .redux-container


//very very important
#toplevel_page_rosa_options a:after{
	border-right-color: #47dad1 !important;
}


h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, th, td, tr {
	&:empty {
		display: none;
	}
}

/*------------------------------------*\
    $Reset menu
\*------------------------------------*/
.reset-menu_wrapper{
	position: relative;
	display: inline-block;
}

#info_bar, .reset-menu_cog{
	display: inline-block;
	vertical-align: middle;
}

#reset-menu_trigger{
	display: none;

	&:checked + .reset-menu .reset-menu_list{
		opacity: 1;
		pointer-events: auto;
	}
}

.reset-menu_cog{
	@extend .fs24;
}

.reset-menu{
	position: absolute;
	top: auto;
	bottom: 100%;
    margin-bottom: 0.5em;
	right: -1em;
}

.reset-menu_list{
	position: relative;
	opacity: 0;
	pointer-events: none;
	border-radius: 0.5em;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;

    box-shadow:         rgba(0,0,0,0.15) 0 0.3em 0.6em;

	&:after {
		content: "";

		position: absolute;
		bottom: -1.125em;
		right: 1.625em;

		border-width: 0.625em;
		border-style: solid;

		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-top-color: white;
	}

	li{
		display: block;

		&:first-child input[type="submit"]{
			border-bottom: 1px solid #d8d8d8;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:nth-child(2) input[type="submit"]{
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}

	input[type="submit"]{
		padding: 0.75em;
		width: 100%;

		@extend .fs14;
		text-align: left;

		color: black;
		background: white;
        margin: 0;

		border: 0;

		&:hover{
			background: #ececec;
            color: black;
		}
	}
}


body .redux-container .redux-main {

    input[type="checkbox"] {
        // magic numbers
        width: 2.4em !important;
        height: 2.4em !important;
        outline: none;
        box-shadow: none;
        background: 0;
        color: white;
        position: relative;

        &:before, &:after {
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

        &:before {
            content: "" !important;
            margin: 0 !important;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            border: 0.15em solid $border;
        }

        &:after {
            content: "";
            width: 1em;
            height: 0.6em;
            border: 0 solid white;
            border-bottom-width: 0.3em;
            border-left-width: 0.3em;

            position: absolute;
            top: 0.8em;
            left: 0.75em;

            -webkit-transform: rotate(-45deg) scale(0.5);
            -moz-transform: rotate(-45deg) scale(0.5);
            -ms-transform: rotate(-45deg) scale(0.5);
            -o-transform: rotate(-45deg) scale(0.5);
            transform: rotate(-45deg) scale(0.5);
        }

        &:checked {

            &:before {
                border-color: $accent;
                background: $accent;
            }

            &:after {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}


.redux-container {

    .redux-container-checkbox {
        width: auto;
        float: right;
        margin-top: -3.2em;
    }

	@media screen and (max-width: 1124px) {
		.redux-sidebar .redux-group-tab-link-a span {
			top: 50%;
			left: 55px;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);

			width: auto;

			background: none;
			border: 0;
			color: white;
			box-shadow: none;

		}
	}
}

.redux-group-tab {
    .redux-section-desc .description {
        display: none;
    }
}

.pop-up {
    margin-top: 0.75em;
    box-shadow: rgba(0,0,0,0.15) 0 0.3em 0.6em;
    border: 2px solid;
    border-color: #d9d9d9 !important;
    border-radius: 0.5em;
    overflow: hidden;
}

.qtip-shadow {
    box-shadow: rgba(0,0,0,0.15) 0 0.3em 0.6em;
}

.qtip-light {
    @extend .fs14;
    padding-top: 0;
    border: 2px solid #d9d9d9;
    border-radius: 0.5em;

    &:before {
        display: block;
        content: "";

        position: absolute;
        bottom: -24px;
        left: 50%;
        margin-left: -12px;
        border-width: 12px;
        border-style: solid;

        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: $border;
    }

    &:after{
        display: block;
        content: "";

        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -10px;

        border-width: 10px;
        border-style: solid;

        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-color: white;
    }

    .qtip-tip {
        display: none !important;
    }

    .qtip-titlebar {
        background: #ececec;
        font-weight: bold;
        padding: 0.5em 1em;
        border-bottom: 1px solid #ececec;
    }

    .qtip-content {
        padding: 0.5em 1em;
    }
}

#wpbody-content {
    padding-bottom: 0 !important;
}

#wpfooter, #screen-meta-links {
    display: none;
}

#info-live-customizer-button {
    width: 100%;
    max-width: 739px;
    margin: 0 auto;
	display: none;

	.has-customizer &{
		display: block !important;
	}

    .redux-info-desc {
        width: 100%;
        padding-top: 73%;
        position: relative;

        &:before {
            content: "";
            display: block;
            background: white url("../images/customizer-bg.png") no-repeat;
            background-size: 100%;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
        }

        .button {
            @extend %font--heading;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            background: $accent;
            background-image: linear-gradient(135deg, #26d2d6, $accent);
            border: 0;
            font-size: rem(22px);
            padding: 1.3em 3em 1.1em;
            border-radius: 4.6em;

            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            &:hover {
                background-image: none;
            }

            i {
                font-size: rem(15px);
                display: block;
                font-style: normal;
                color: white;
            }
        }
    }
}

.admin-color-fresh .redux-container-image_select img {
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    
    &:hover {
        border-color: $light;
    }
}

.admin-color-fresh .redux-container-image_select .redux-image-select-selected img {
    border-color: $accent;
}

.help-and-support{

	li{
		margin-bottom: 48px !important;
	}
}

@import "classes";