/*----------------------------------------*\
*   $CONTENTS
\*----------------------------------------*/
/**
 * Comments ................ styling of the comment list
 * Comment form ............ styling of the comment form
 */






/*----------------------------------------*\
*   $COMMENTS
\*----------------------------------------*/
.comments-area-title{
    @extend .cf;
    @include rem(margin-top, $_u + $_u2 !important);
    @include rem(padding-bottom, $_u2);
    @include rem(margin-bottom, $_u);
    border-bottom: 1px dotted $light;

    .hN {
        @extend .gamma;
        margin-top: 0;
        margin-bottom: 0;
        float: left;
        @include rem(margin-right, $_u2);

        @include media-query(palm) {
            @include font-size(16px);
        }

        em {
            font-style: normal;
            color: $accent;
        }
    }
}

.comments_add-comment {
    @extend .btn;
    @extend .btn--small;
    @extend .btn--primary;
    margin-top: .225em;
    float: left;
}


.commentlist{
    @extend .nav;
    list-style: none;
    @include rem(margin-top, -$_u);
    @include rem(margin-bottom, -$_u);
    margin-left: 0;
    border-left: 0;
    padding-left: 0;
}

li.comment, li.pingback{
    display: block;
    margin-bottom: 0;
    @include rem(padding-top, $_u);

    & + & {
        border-top: 1px dotted $light;
    }

    .children{
        position: relative;
        margin-left: 60px;
        @include rem(padding-left, $_u2);
        @include rem(margin-top, -$_u);
               
        &:before{
            content: "";
            display: block;
            @include rem(height, $_u2);
            @include rem(width, $_u2);
            position: absolute;
            margin-left: -30px;
            left: 0;
            @include rem(top, $_u + $_u2 + $_u4);
            border-left: 1px solid $light;
            border-bottom: 1px solid $light;
        }
    }
}

// .comment__meta
.comment__author-name{
    @extend .article__author-name;
}

.comment-article {
    margin-bottom: 0;

    &:hover {
        .comment-edit-link {
            opacity: 1;
        }
    }
}

.comment__avatar {
    @include rem(margin-right, $_u2);
}

.comment__time{
    @extend .article__time;
}

.comment__timestamp{
    color: $light;
}

.comment__avatar {
    @include rem(margin-bottom, $_u);
}

.comment__content {
    position: relative;
    @include rem(margin-bottom, $_u);
	clear: both;
}

.comment__links {
    float: right;
    @include font-size(12px);
    font-family: $alt-font-family;
}    

.comment-edit-link {
    color: $light;
    opacity: 0;
    @include rem(margin-right, $_u2);
    @include transition(opacity .3s ease-in-out);
    @include transform(translateZ(0));
}

.logged-in-as{
    @extend .grid__item;
    @extend .one-whole;
    @include rem(margin, -$_u2 0);
}

.comment-reply-title {
    margin-top: 0;
}

.comment-respond{
    position: relative;
}

#cancel-comment-reply-link{
    position: absolute;
    @include rem(bottom, $_u);
    left: 0;
    z-index: 5;
    text-decoration: none;
    font-style: normal;
}





/*----------------------------------------*\
*   $COMMENT_FORM
\*----------------------------------------*/
.comment-form{
    @extend .grid;

    @include placeholder() {
        font-style: italic;
    }
}

.comment-form-author,
.comment-form-email,
.comment-form-url{
    @extend .grid__item;
    @extend .one-third;

    .lt-ie9 & {
        width: 30%;
        float: none;
        display: inline-block;
    }
}

.comment-respond{

    

    
}

.comment-form-comment,
.form-submit,
.comment-subscription-form {
    @extend .grid__item;
    @extend .one-whole;

    textarea{
        // width: 100%;
        // @include rem(padding, $_u2);
        // border: 1px solid #e5e9eb;

        // &:focus {
        //     outline: 1px solid $accent;
        // }
    }
}

/**
 * !Important stuff here to override wordpress styles...
 */
.form-submit #comment-submit {
    @extend .btn;
    @extend .btn--primary;
    @extend .btn--beta;
    text-transform: uppercase;
    float: right;

    .lt-ie9 & {
        width: 100px;
    }
}