/*-----------------------------------------------*\
              SHARE LINKS
\*-----------------------------------------------*/

$icon-size: 32px;


#share-box, #share-box-top {
    ul {
        text-align:center;
    }
    
    @include media-query(palm) { 
        .share-total, .share-total-top {
            display: block;
        }   
    }
}
.share-item {
    text-align:center;
    margin-left:$_u2;
    cursor:pointer;
}
    .share-item__icon {
        i.pixcode--icon.circle {
            color:#fff;
            font-size:16px;
            line-height:32px;
            width: $icon-size;
            height: $icon-size;
            @include box-shadow(0 1px 1px 0 rgba(0,0,0,0.5) inset, 0 1px 0px 0 rgba(255,255,255,0.8));
            background-color:$gray;

            &:before {
                margin: 0;
                line-height: 2;
            }
        }

        &:hover {
            i.pixcode--icon.circle {
                @include box-shadow(0 2px 0px 0 rgba(255,255,255,0.2) inset, 0 -1px 0px 0 rgba(0,0,0,0.2) inset);
            }
        }
    }
    .share-item__value {
        @include font-size(12px);
    }

@include media-query(palm) {
    .share-total, .share-item:first-child {
        margin-left: 0;
    }
}

@include media-query(lap-and-up) {
    .share-total, .share-total-top {
        border-left:1px solid $dark;
        padding-left:$_u;
        margin-left:$_u;
    }
}
    .share-total__value, .share-total__value-top {
        @include font-size(32px);
        font-family:$heading-font-family;
        position:relative;
        top:2px;
    }
    .share-total__title {
        @include font-size(12px);
        color:$light;
        text-transform:uppercase;
    }


.share-item {

	&.pixlikes-share i.pixcode--icon.circle {
		background-color:#232323;
	}
	&.twitter-share i.pixcode--icon.circle {
		background-color:#00aced;
	}
	&.facebook-share i.pixcode--icon.circle {
		background-color:#0b59aa;
	}
	&.gplus-share i.pixcode--icon.circle {
		background-color:#d84d2f;
	}
	&.pinterest-share i.pixcode--icon.circle {
		background-color:#ce1c1e;
	}
}

#pinterest i {
    background-color:#ce1c1e;
}

#linkedin i {
    background-color:#0375b3;
}

#buffer i {
    background-color:#232323;
}

.social-icon-link{
    display: block;
    background-color: $dark;
    color: $light;
    text-align: center;

    @include transition(all 0.15s);

    &:hover, &:focus, &:active { 
        .square{
            background-color: $accent !important;
            color: white !important;
        }
    }
}